*.Cache

/EnvManWF/EnvMan/EnvMan/bin
/EnvManWF/EnvMan/EnvMan/obj
/EnvManWF/EnvMan.Tests/EnvManagerTest/bin
/EnvManWF/EnvMan.Tests/EnvManagerTest/obj
/EnvManWF/EnvMan.Tests/EnvManTest/bin
/EnvManWF/EnvMan.Tests/EnvManTest/obj
/EnvManWF/EnvMan/EnvManager/bin
/EnvManWF/EnvMan/EnvManager/obj
/EnvManWF/EnvManSetup/*.user
/EnvManWF/EnvManSetup/bin
/EnvManWF/EnvManSetup/obj
/EnvManWF/EnvManWFSetup/Debug
/EnvManWF/EnvManWFSetup/Release
/EnvManWF/EnvMan.Tests/EnvMan.Tests.VisualState.xml
/EnvManWF/EnvManWPF/bin
/EnvManWF/EnvManWPF/obj

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
